<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112418977298-dcr5j9l6qupk252br68f3dv1gh18jas3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112418977298-dcr5j9l6qupk252br68f3dv1gh18jas3</string>
	<key>API_KEY</key>
	<string>AIzaSyB-VrupxkeiEfqVXTnmHiuEBipylgWpskM</string>
	<key>GCM_SENDER_ID</key>
	<string>112418977298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.prince.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-bcbcf</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-bcbcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112418977298:ios:000a90b91e14ba41588acb</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-bcbcf.firebaseio.com</string>
</dict>
</plist>